@import "minireset";
@import "functions";

$c0: #fff;
$c1: #e0e3e5;
$c2: #182c48;
$c3: #a5bf39;
$c3h: #b0d02a;
$c4: #d7dadc;
$c5: #efefef;

@include group();

html { -webkit-text-size-adjust: none; -webkit-appearance:none; }
input::-moz-focus-inner { border:0; }
a, a:focus, a:visited, a:active, input, button, textarea, select { outline: none; }
textarea { resize:none; }
p { word-wrap: break-word; }
input { border: none; }

html, input {
  font-size: 18px;
}
input {
  &[type="text"] {
    @include bs(inset 0 4px 18px 0 $c5);
  }
}

body {
  background-color: $c1;
  color: $c2;
}
#page {
  width: 640px;
  margin: 85px auto 80px;
}
#card {
  position: relative;
  width: 368px;
  height: 240px;
  margin: 0 auto;
  color: crimson; // todo temp
}
#form {
  background-color: $c0;
  margin-top: -120px;
  padding: 170px 50px 70px;
  @include br(20px);
  @include bs(0 0 20px 0 $c4);
  .row {
    margin-bottom: 30px;
    span {
      font-size: 36px;
      display: inline-block;
      margin: 0 5px;
      vertical-align: -6px;
    }
    &.extra {
      div {
        float: left;
        width: 150px;
        &:first-child {
          width: calc(100% - 180px);
        }
      }
      input {
        text-align: center;
      }
    }
  }
  label {
    display: block;
    margin-bottom: 7px;
  }
  input {
    width: calc(100% - 30px);
    padding: 15px 20px;
    @include br(4px);
    border: 1px solid $c1;
    &:focus {
      border-color: $c2;
    }
    &[type="submit"] {
      margin-top: 30px;
      background-color: $c3;
      color: $c0;
      font-size: 24px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $c3h;
      }
    }
    &.valid-date {
      width: 90px;
    }
    &.cvv {
      width: 150px;
    }
  }
}

.flip-card {
  width: inherit;
  height: inherit;
  perspective: 1000px;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-image: url('../images/card.min.png');
      background-repeat: no-repeat;
    }
    .front {

    }

    .back {
      transform: rotateY(180deg);
      background-position: 0 -240px;
    }
  }
  &.turn {
    .inner {
      transform: rotateY(180deg);
    }
  }
}

